################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TeamTest.Console/TeamTest.Console/obj
/TeamTest.Console/TeamTest.Console/bin
/TeamTest.Console/.vs
/TeamTest.Console/TeamTest.Console/obj/project.assets.json
